<!doctype html>
<html ng-app="" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>8tracks controller</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap-responsive.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/mixes.js"></script>
  </head>
  <body>

    <h2>Mixes <small>8tracks controller</small></h2>
    <div ng-controller="mixesCtrl">

      <div ng-show="!mixes.length" class="alert alert-info">No 8tracks mixes open in tabs. <a href="http://8tracks.com" style="color: darkblue;">Open 8tracks</a></div>

      <div class="fluid-row" ng-repeat="mix in mixes | orderBy: 'state'">
        <div class="span12">

          <div class="media well well-small mix-{{mix.state | lowercase}}">
            <img class="media-object pull-left img-rounded" style="height: 128px; width: 128px;" ng-src="{{mix.imageSrc}}">
            <div class="media-body">
              <h3 class="media-heading">{{mix.title}}</h3>
              <p ng-show="mix.song || mix.artist"><b>{{mix.song}}</b> by {{mix.artist}}</p>
              <button class="btn btn-primary" ng-click="toggleState(mix)">
                <i class="icon-{{mix.state | lowercase}} icon-white"></i> {{mix.state}}
              </button>
              <button class="btn next-track-btn" ng-click="nextTrack(mix)" >
                <i class="icon-fast-forward"></i> Next track
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
